<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="tabs/profile"
                       (click)="close()"
                       icon="close">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="posts">
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12"
              *ngFor="let post of posts">
        <app-user-post-card [post]="post">
        </app-user-post-card>
      </ion-col>
      <ion-infinite-scroll threshold="150px"
                          [disabled]="!scroll"
                          (ionInfinite)="onScroll($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>
  <ion-slide *ngIf="!posts">
    <ion-spinner></ion-spinner>
  </ion-slide>
  <div *ngIf="posts">
    <div class="flex" *ngIf="posts.length === 0">
      <img src="assets/img/not-found.png"/>
      <h4>Oops! No Posts found</h4>
    </div>
  </div>
</ion-content>