.sc-ion-back-button-md-h {
  --icon-padding-end: 0 !important;
  margin-right: -6px;
}

ion-grid {
  max-width: 812px;
  margin-bottom: 15px;
}

ion-slide {
  height: 100%;
  position: absolute;
  margin-top: -25px;
}

.flex {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
  margin-top: -25px;
}

img {
  width: 275px;
  height: 310px;
  margin-bottom: 20px;
}
