<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <app-pick-avatar (avatar)="avatar = $event">
  </app-pick-avatar>
  <ion-list>
    <ion-item>
        <ion-label position="floating">{{'login.name' | translate}}</ion-label>
          <ion-input name="name" type="text" mode="md" formControlName="name">
        </ion-input>
      </ion-item>
    <ion-item>
      <ion-label position="floating">{{'login.email' | translate}}</ion-label>
        <ion-input name="email" mode="md" formControlName="email">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'login.password' | translate}}</ion-label>
        <ion-input name="password" type="password" mode="md" formControlName="password"
                  [ngClass]="{'valid': !matchError}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'login.repeat.password' | translate}}</ion-label>
        <ion-input name="password2" type="password" mode="md" formControlName="password2"
                   [ngClass]="matchError === true ? 'invalid' : 'valid'">
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button type="submit"
              expand="full"
              color="primary"
              shape="round"
              [disabled]="signUpForm.invalid"
              mode="md">
              {{'login.create' | translate}}
  </ion-button>
</form>
