.sc-ion-input-md-h {
  color: var(--ion-color-pink-tint);
  font-weight: bold;
  letter-spacing: 1px;
}

form {
  width: 310px;
  margin: 0 auto;
}

ion-list {
  margin-top: 10px;
  margin-bottom: 45px;
}

.invalid {
  color: var(--ion-color-danger);
}

.valid {
  color: var(--ion-color-success);
}

