form {
  width: 310px;
  margin: 0 auto;
  margin-top: -52px;
  overflow: auto;
  padding-top: 52px;
  padding-bottom: 52px;
}

.sc-ion-input-md-h {
  color: var(--ion-color-pink-tint);
  font-weight: bold;
  letter-spacing: 1px;
}

ion-list {
  margin-top: 20px;
  margin-bottom: 35px;
}

img {
  width: 75px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

@media (min-width: 800px) {
  form {
    width: 500px;
  }
}