.padding {
  padding-top: 0px !important;
}

ion-slides {
  --bullet-background: black;
  --bullet-background-active: var(--ion-color-light);
  height: 100%;
}

ion-slide {
  height: auto;
  min-height: 100%;
}

ion-content {
  height: 100%;
}

@media (max-height: 400px) {
  ion-slides {
    height: auto;
    margin-bottom: 30px;
  }
}
