<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings($event)"
                  color="light">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" text-center>
  <ion-slides #slides pager="true" [options]="sliderOptions">
    <ion-slide class="animated fadeIn slow">
      <app-update-form (updated)="user = $event"
                        [user]="user">
      </app-update-form>
    </ion-slide>
    <ion-slide class="animated fadeIn slow">
      <app-profile-posts [likes]="likes"></app-profile-posts>
    </ion-slide>
  </ion-slides>
</ion-content>
