ion-card {
  & .section {
    --background: var(--ion-color-pink-tint);
  }

  & .content {
    --background: var(--ion-color-pink-dark);

    &-label {
      padding: 5px 5px 5px 0;
    }
  }
}

ion-slides {
  --bullet-background: black;
  --bullet-background-active: var(--ion-color-light);
  height: 250px;
}

ion-slide {
  width: auto;
  min-width: 100%;
  max-width: 371px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-button {
  margin-right: -8px;
  margin-left: 8px;
}
