.sc-ion-back-button-md-h {
  --icon-padding-end: 0 !important;
}

ion-grid {
  max-width: 812px;
}

@media (min-width: 880px) {
  ion-title {
    margin-left: 30px;
  }
}

ion-slide {
  height: 100%;
  position: absolute;
  margin-top: -25px;
}

.flex {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
  margin-top: -52px;
}

img {
  width: 275px;
  height: 310px;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 20px;
}





