<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="tabs/profile"
                       (click)="close()"
                       icon="close">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="favorites">
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12"
              *ngFor="let favorite of favorites">
        <app-favorite-card (removed)="remove($event)"
                           [favorite]="favorite">
        </app-favorite-card>
      </ion-col>
      <ion-infinite-scroll threshold="150px"
                           [disabled]="!scroll"
                           (ionInfinite)="onScroll($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ion-grid>
  <ion-slide *ngIf="!favorites">
    <ion-spinner></ion-spinner>
  </ion-slide>
  <div *ngIf="favorites">
    <div class="flex" *ngIf="favorites.length === 0">
      <img src="assets/img/not-found.png"/>
      <h4>Oops! No Favorites found</h4>
    </div>
  </div>
</ion-content>