ion-slides {
  height: 100%;
}

ion-segment-button {
  --color-checked: var(--ion-color-pink);
}

.segment-button-checked ion-button {
  color: var(--ion-color-warning) !important;
}

@media (max-height: 412px) {
  ion-slides {
    height: auto;
    margin-top: 0;
  }

  .sign-in {
    margin-top: 65px;
  }

  .sign-up {
    padding-top: 25px;
    padding-bottom: 5px;
  }
}
