.image-box {
  position: relative;
  top: 15px;
  margin-bottom: 20px;
  margin-left: -16px;
 }

 .image-title {
  padding-left: 16px;
}

ion-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 8px -1px var(--ion-color-light);
    -moz-box-shadow: 0px 0px 8px -1px var(--ion-color-light);
    box-shadow: 0px 0px 8px -1px var(--ion-color-light);
  }
}

ion-spinner {
  width: 80px;
}
