ion-content {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  margin: 0 auto;
}

img {
  width: 275px;
  height: 310px;
}

h4 {
  position: relative;
  margin-bottom: 20px;
}