ion-slide {
  height: auto;
  min-height: calc(100% - 25px);
}

.padding {
  padding-top: 0px !important;
}

ion-icon {
  font-size: 25px;
}

ion-content {
  height: 100%;
}

@media (max-height: 400px) {
  ion-slide {
    margin-bottom: 25px;
    margin-top: 0;
  }
}



