<form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <img [src]="(user.avatar || 'av-1.png') | avatar"/>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email"
                 type="email"
                 formControlName="email"
                 mode="md">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{'login.password' | translate}}</ion-label>
      <ion-input name="password"
                 type="password"
                 formControlName="password"
                 mode="md">
      </ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">{{'login.remember' | translate}}</ion-label>
        <ion-checkbox color="light"
                      [(ngModel)]="remember"
                      [ngModelOptions]="{standalone: true}">
        </ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button type="submit"
              expand="full"
              color="primary"
              shape="round"
              mode="md"
              [disabled]="signInForm.invalid">
              {{'login.button' | translate}}
  </ion-button>
</form>
