.sc-ion-input-md-h {
  color: var(--ion-color-pink-tint);
  font-weight: bold;
  letter-spacing: 1px;
}

form {
  width: 310px;
  margin: 0 auto;
}

ion-list {
  margin-top: 20px;
  margin-bottom: 40px;
}

img {
  width: 120px;
  display: block;
  margin: 0 auto;
}