<div class="profile-posts">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-icon slot="start" name="paper"></ion-icon>
        <h3>Posts</h3>
      </ion-label>
    </ion-list-header>
    <ion-item detail (click)="goPosts()">
      {{'your.posts' | translate}}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
          <ion-icon slot="start" name="star"></ion-icon>
        <h3>{{'favorites' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <ion-item detail (click)="goFavorites()">
      {{'your.favorites' | translate}}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
          <ion-icon slot="start" name="heart"></ion-icon>
        <h3>{{'likes.likes' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <ion-item>
      {{'your.likes' | translate}}
      <ion-note color="light" slot="end">{{likes || 0}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
          <ion-icon slot="start" name="alert"></ion-icon>
        <h3>{{'danger.zone' | translate}}</h3>
      </ion-label>
    </ion-list-header>
    <ion-item detail (click)="confirmDelete()">
      <ion-text color="danger">
        <strong>{{'delete.account' | translate}}</strong>
      </ion-text>
    </ion-item>
  </ion-list>
  <ion-button expand="full"
              color="primary"
              shape="round"
              mode="md"
              (click)="logout(false)">
        {{'profile.logout' | translate}}
  </ion-button>
</div>