.sc-ion-textarea-md-h {
  color: var(--ion-color-pink-tint);
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 8px;
}

form {
  width: 310px;
  margin: 0 auto;
  min-height: 100%;
}

@media (min-width: 812px) {
  form {
    width: 500px;
  }
}

ion-button {
  padding-right: 10px;
  margin-top: -1px;
}

.item-native {
  --padding-start: 0!important;
}

.new-post {
  margin-top: -16px;
  margin-bottom: 20px;
}

ion-list {
  margin-bottom: 30px;
}

h4 {
  margin-top: 30px;
}

.coords {
  margin-left: -16px;

  & ion-label {
    padding-left: 16px;
  }
}

.no-image {
  margin-top: 35px;
}

.box {
  height: 100%;
}



