<form [formGroup]="postForm">
  <h3 class="new-post">{{'new.post' | translate}}</h3>
  <ion-list>
    <ion-item>
      <ion-label position="floating">{{'post.message' | translate}}</ion-label>
      <ion-textarea name="message" mode="md" formControlName="message"
                    [placeholder]="'message.here' | translate"></ion-textarea>
    </ion-item>
    <ion-item class="coords">
      <ion-label>{{'post.spot' | translate}}</ion-label>
      <ion-spinner *ngIf="spinner" name="lines-small"></ion-spinner>
      <ion-toggle color="light"
                  formControlName="coords"
                  (ionChange)="toogleCoords($event)"
                  slot="end">
      </ion-toggle>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block"
                  shape="round"
                  mode="md"
                  (click)="openCamera()">
        <ion-icon slot="start" class="button" name="camera"></ion-icon>
        {{'camera.button' | translate}}
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block"
                  shape="round"
                  mode="md"
                  (click)="openSource()">
        <ion-icon slot="start" class="button" name="images"></ion-icon>
        {{'gallery.button' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="box">
    <ion-col size="12">
      <div class="no-image" *ngIf="temp.length === 0">
          <h3>0 {{'images.selected' | translate}}</h3>
      </div>
      <div *ngIf="temp.length > 0">
        <app-post-images [temp]="temp"
                         (delete)="temp = $event">
        </app-post-images>
      </div>
    </ion-col>
  </ion-row>
</form>